  <%= form_for [current_member, @profile] do |f| %>
  <div>
    <%= f.text_area :bio, placeholder: "Enter bio" %>
   <br>
    <div>
    <%= f.submit "Create Profile" %>
    <br>
    </div>
  </div>
  <% end %>


  

  




