<div class="center">  
  <div class="booyah-box col-xs-10 col-xs-offset-1">

    <h1><%= @profile.member.name %>'s Profile</h1>
    
    <p><%= image_tag (@profile.profile_pic(:small)) %></p>
    <p><%= @profile.name %></p>
    <p><%= @profile.bio %></p>
    
  </div>
</div>
