---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=2%20Ski%20Drive,%20Sun%20Valley,%20Idaho&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Snow Creek Condo Drive",
                       "short_name" : "Snow Creek Condo Dr",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Sun Valley",
                       "short_name" : "Sun Valley",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Blaine County",
                       "short_name" : "Blaine County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Idaho",
                       "short_name" : "ID",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    },
                    {
                       "long_name" : "83353",
                       "short_name" : "83353",
                       "types" : [ "postal_code" ]
                    }
                 ],
                 "formatted_address" : "Snow Creek Condo Dr, Sun Valley, ID 83353, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 43.6908785,
                          "lng" : -114.3474552
                       },
                       "southwest" : {
                          "lat" : 43.6896458,
                          "lng" : -114.350122
                       }
                    },
                    "location" : {
                       "lat" : 43.6903481,
                       "lng" : -114.3488667
                    },
                    "location_type" : "GEOMETRIC_CENTER",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 43.6916111302915,
                          "lng" : -114.3474396197085
                       },
                       "southwest" : {
                          "lat" : 43.6889131697085,
                          "lng" : -114.3501375802915
                       }
                    }
                 },
                 "partial_match" : true,
                 "place_id" : "ChIJXZEtL9KCqVQRvXI_Ykcnr5s",
                 "types" : [ "route" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Fri, 02 Feb 2018 20:38:12 GMT
recorded_with: VCR 4.0.0
