---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=2%20Ski%20Drive,%20Sun%20Valley,%20Idaho&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "error_message" : "You have exceeded your daily request quota for this API. We recommend registering for a key at the Google Developers Console: https://console.developers.google.com/apis/credentials?project=_",
           "results" : [],
           "status" : "OVER_QUERY_LIMIT"
        }
  recorded_at: Fri, 02 Feb 2018 20:18:37 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=Sun%20Valley,%20Idaho&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Sun Valley",
                       "short_name" : "Sun Valley",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Blaine County",
                       "short_name" : "Blaine County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Idaho",
                       "short_name" : "ID",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    },
                    {
                       "long_name" : "83353",
                       "short_name" : "83353",
                       "types" : [ "postal_code" ]
                    }
                 ],
                 "formatted_address" : "Sun Valley, ID 83353, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 43.72383199999999,
                          "lng" : -114.3048829
                       },
                       "southwest" : {
                          "lat" : 43.640401,
                          "lng" : -114.3614699
                       }
                    },
                    "location" : {
                       "lat" : 43.6971294,
                       "lng" : -114.3517172
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 43.72383199999999,
                          "lng" : -114.3048829
                       },
                       "southwest" : {
                          "lat" : 43.640401,
                          "lng" : -114.3614699
                       }
                    }
                 },
                 "place_id" : "ChIJEy5RHN-CqVQRUCy0ZiNqDAc",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Fri, 02 Feb 2018 20:19:01 GMT
recorded_with: VCR 4.0.0
