---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=2%20Ski%20Drive,%20Sun%20Valley,%20Idaho&key=AIzaSyCmHFoSjm1QN0VFE8JZ7WE4nG6TqPuXAMQ&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "1",
                       "short_name" : "1",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Community School Drive",
                       "short_name" : "Community School Dr",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Sun Valley",
                       "short_name" : "Sun Valley",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Blaine County",
                       "short_name" : "Blaine County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Idaho",
                       "short_name" : "ID",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    },
                    {
                       "long_name" : "83353",
                       "short_name" : "83353",
                       "types" : [ "postal_code" ]
                    }
                 ],
                 "formatted_address" : "1 Community School Dr, Sun Valley, ID 83353, USA",
                 "geometry" : {
                    "location" : {
                       "lat" : 43.6891033,
                       "lng" : -114.3530637
                    },
                    "location_type" : "ROOFTOP",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 43.6904522802915,
                          "lng" : -114.3517147197085
                       },
                       "southwest" : {
                          "lat" : 43.6877543197085,
                          "lng" : -114.3544126802915
                       }
                    }
                 },
                 "place_id" : "ChIJPXvQ2M2CqVQR2wTJoOVEJxo",
                 "plus_code" : {
                    "compound_code" : "MJQW+JQ Sun Valley, Idaho, United States",
                    "global_code" : "85M7MJQW+JQ"
                 },
                 "types" : [ "establishment", "point_of_interest", "school" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Tue, 05 Mar 2019 17:30:25 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=Sun%20Valley,%20Idaho&key=AIzaSyCmHFoSjm1QN0VFE8JZ7WE4nG6TqPuXAMQ&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
               [...]
