<div id="reservation-form">  
  <div id="calendar", style='width: 600px;'></div>

  <script type="text/javascript">
    $('#calendar').fullCalendar({
      events: '/reservations.json'
    });
  </script> 
</div> 
